# Copyright 2025 Marc-Antoine Ruel. All rights reserved.
# Use of this source code is governed under the Apache License, Version 2.0
# that can be found in the LICENSE file.

# See https://github.com/maruel/devdashhpost for more information.

[Unit]
Description=Runs devdashpost automatically upon boot
Wants=network-online.target

[Service]
Type=simple
KillMode=mixed
Restart=on-success
TimeoutStopSec=600s
# -host 127.0.0.1:10102 -verbose
ExecStart=%h/go/bin/devpostdash
ExecStop=/bin/kill -s INT $MAINPID
Environment="GOTRACEBACK=all"

[Install]
WantedBy=default.target
