{{/* This file will contain the shared code to update the data */}}
<script>
  'use strict';

	async function fetchProjects(eventID) {
		try {
			const response = await fetch(`/api/events/${eventID}`);
			if (!response.ok) {
				throw new Error(`failed to fetch event ${eventID}: status: ${response.status}`);
			}
			const data = await response.json();
			document.dispatchEvent(new CustomEvent('projectsRefreshed', {detail: data}));
			return data;
		} catch (error) {
			console.error('Error fetching project IDs:', error);
			location.reload();
			return [];
		}
	}

	async function fetchProject(eventID, projectID) {
		try {
			const response = await fetch(`/api/events/${eventID}/${projectID}`);
			if (!response.ok) {
				throw new Error(`failed to fetch project ${eventID}/${projectID}: status: ${response.status}`);
			}
			return await response.json();
		} catch (error) {
			console.error('Error fetching project:', error);
			location.reload();
			return [];
		}
	}
</script>
